html{
    font-size:20px;
}


h1{
    color:#493323;
}
p.head{
    text-align: center;
}
body{
    margin:0;
    padding:0px;
    font-size:1em;
    line-height:1.618em;
}
footer{
    text-align: center;
}

p.head{
    background-color: dimgrey;
    color:white;
}
